/* imports */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Cairo:wght@300;400;600;800&family=Lato&family=Signika+Negative:wght@400;500&family=Work+Sans:ital,wght@0,500;0,600;1,500;1,600&display=swap');
/* Start Variables */ 
:root{
  /* black */
  --primary-black:#0b090a ; 
  --secondary-black:#161a1d ; 
  /* red */
  --primary-red : #ba181b ; 
  --primary-red-2 : #a4161a ; 
  --primary-red-3 :#660708 ; 
  /* gray */
  --primary-gray:#f5f3f4 ; 
  --primary-gray-2:#d3d3d3 ; 
  --primary-gray-3:#b1a7a6 ; 
}
/* End Variables */ 

/* Start Global Rules */  
*{
  margin : 0 ; 
  padding: 0 ; 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing : border-box ; 
  box-sizing : border-box
}
ul { 
  list-style: none;

}
button
{
  background-color: var(--primary-red);
  font-size: 18px;
  color:white ; 
  padding:5px ; 
  border-radius:5px ; 
  cursor:  pointer;
  border:none ; 
  outline : none ; 
  transition: .3s;
}

body{
	font-family: 'Archivo Black', sans-serif;
  font-family: 'Cairo', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Signika Negative', sans-serif;
  font-family: 'Work Sans', sans-serif;
  background-color: var(--primary-gray);
}
.container { 
  padding: 0 15px ; 
  width:600px ; 
  margin: 0 auto ; 
}
/* Alert */
.alert{
  max-width: 300px;
  border : solid 1px var(--primary-red) ; 
  background-color: #fff1f0 ;
  padding:10px ; 
  text-align: center;
  color:#ba181b; 
  margin: auto;
}
/* Loading */
  .loading{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
/* Small*/
@media(min-width:768px){
.container{ 
 width:750px ; 
}
}
/* Medium */
@media(min-width:992px){
.container{ 
 width:970px ; 
}
}
/* Large */
@media(min-width:1200px){
.container{ 
 width:1170px ; 
}
}
/* End Global Rules */  
/* Star Landing */
  .landing { 
    margin:100px 0 0 0 ;
    background-color: var(--secondary-black);
    position: relative;
    display: flex;
    align-items: center;
  }
  .section1 { 
    min-height: auto;
    padding:100px ;   
    color:white ; 
    width: 60%;
  }
  @media(max-width: 991px){
    .landing { 
      flex-direction: column;
    }
    .section1 h1 {
      font-size: 32px;
    }
  }
  @media(max-width: 991px){
    .section1 { 
    padding:10px 20px ;  
    width: 100%; 
  }
  }
  @media (max-width:991px){
    .section1 { 
      width: 100%;
  
    }
    .signin{
      position: relative;
    }
  }
  .section1 h1 { 
    font-size: 64px ;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .section1 p { 
    font-size: 18px ;
    margin-bottom: 10px;
    color: var(--primary--2gray);
  }
  .signin{
    max-width: 400px;
    background-color: var(--secondary-black);
    color:white ; 
    padding:10px ; 
    border-radius: 10px ;
    bottom:-45px ; 
    right: 100px;
  } 
  @media (max-width:991px){
    
    .signin{
      margin: 0 0 0 200px;
      width: 300px;
      line-height: 1.5;
    }
  }
  .signin h3{
    color: var(--primary-red);
    text-align: center;
    padding-bottom:20px ;

  }
  .signin input{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding:10px 5px ; 
  }
  .signin p{
    font-size: 15px;
    font-weight: 500;
    color:var(--primary-gray-2) ; 
    text-align: center;
    margin-bottom: 5px;
  }
  .signin a {
    color:var(--primary-red)
  }
  .categories {
    margin-top: 50px;

  }
  .Menu {
    margin: auto;
    font-size: 30px ;
    text-align: center  ;
    margin-bottom: 30px ;
  }
  .categories .container{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px , 1fr));
    gap: 30px;
  }
  @media (max-width:991px){
    .categories .container{
      width:100%;
    }
  }
  .categories .container > div { 
    width: 100%;
    padding:20px 10px ; 
    background-color: var(--primary-red);
    color:white ; 
    border-radius: 10px ;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 100px 24px;
  }


  .champions-section{
    
    padding:100px  ; 
    background-color: var(--primary-gray-2);
    margin-top: 100px;
  }
  @media(max-width: 991px){
    .champions-section{
    
      padding:10px  ; 
   
    }
  }
  .champions-section .container { 
    display: flex;
    width: 80%;
    
  } 
  .champions-section .image { 
    width: 600px;
    padding:20px
  }
  
  @media(max-width: 991px){
    .champions-section .container{
      width: 100%;
    }
    .champions-section .image {
      display: none;
    }
  }
  .champions-section .image img { 
    width: 100%;
  }
  .champions-section .text {
    flex-basis: 50%; 
    width: 100%;
  }
  .champions-section .text { 

  }
  .champions-section .text h3 { 
    font-size: 46px;
    margin-top: 20px;
    margin-bottom:20px ;
    color:var(--primary-red) 
  }
  .champions-section .text p{ 
    font-size: 22px;
    margin-bottom: 30px ;

  }
  .champions-section .text a{ 
    font-size: 20px;
    width: fit-content;
    background-color: var(--primary-red);
    color: white ;
    text-decoration: none;
    padding: 10px ;
    margin-top: 30px ;
    transition: .3s;
  }
  .champions-section .text a:hover {
    background-color: var(--primary-red-3);
  }
  @media (max-width:991px){
    .champions-section .text p{
      font-size: 18px;
    }
     .champions-section .text a{ 
      font-size: 18px;
 
  }
  }



  .boxes-with-images { 
    padding-top: 100px ;  
    padding-bottom: 100px 
  }

  .boxes-with-images .container { 
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(350px , 1fr));
    gap: 20px;
  }
  @media (max-width:991px){
    .boxes-with-images .container { 
      width: 100%;
    }
  }
  .boxes-with-images .box{ 
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ccc ;
  }
  .boxes-with-images .image{
    width: 100%;
    max-height: 360px;
    overflow: hidden;
  }
  .boxes-with-images .image img{
    width: 100%;
    height: 100%;
    transition: .3s;
    object-fit: cover;

  }
  .boxes-with-images .image:hover img {
    transform: scale(1.1);
  }
  .boxes-with-images .text {
    padding: 7px 15px;
  }
  .boxes-with-images .text h3 { 
  }
  .boxes-with-images .text p { 
    line-height: 1.4
  }
  .skins-section{
    padding: 100px 0 ;
    text-align: center;
  }
  .skins-section > h3 {
    color:var(--secondary-black) ;
    font-size: 28px ;
    font-weight: 500;

  }
  .skins-section > p {
    padding:5px ; 
    color:var(--primary-gray-3)
  }
  .skins-section .container { 
    width: 80%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(350px , 1fr));
    gap:40px ; 
    margin-left: auto;
  }
  .skins-section .box {
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
  }
  .skins-section img {
    object-fit: fill;
    max-height: 400px;
  }
  .skins-section .layer { 
    background-color: var(--secondary-black);
    opacity: .0;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0 ; 
    left: 0 ; 
    transition: .3s; 
    color: white;
    overflow: hidden;

  }
  .skins-section .layer h3{
    margin-bottom: 10px;
  }
  .skins-section .layer p{
    line-height: 1.6;
  }
  .skins-section .layer:hover {
    opacity: .7;
    
  }
  .skins-section .layer .info { 
    width: 100%;
    position: absolute;
    left:50% ; 
    bottom: 0 ; 
    transform: translateX(-50%);
    position: absolute; 
    transition: .3s;
  }
  .skins-section .layer:hover .info { 
    bottom:40% ; 

  }
  @media (max-width:991px){
    .skins-section .layer:hover .info { 
      bottom:25% ; 
  
    }
  }






















/* End Landing */

/* Start Navbar */
nav{
  background-color: var(--primary-red-2);
  color: #fff; 
}
nav  .logo{
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav > .container { 
  display: flex;
  align-items: center;
  justify-content: space-between;

}
nav > .container > ul { 
  display: flex;
}
nav > .container > ul li { 
  padding:0 20px ; 
  cursor: pointer;
}
/* End Navbar */
.SignUp{
  border: solid 10px blue;
  margin-top: 100px;
}
.SignUp .container { 
  padding:50px 100px ;
  background-color: var(--secondary-black);
  color: white;
  width: 80%;

}
@media(max-width:768px){
  .SignUp .container {
    width: 100%;

  }
}
.SignUp .form {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media(max-width:768px){
  .SignUp .form {
    flex-direction: column-reverse;
    border:2px solid green 
  }
}
.SignUp .images { 
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(100px , 1fr));
  max-width: 400px;
  grid-gap:10px ;
}
@media(max-width:768px){
  .SignUp .images { 
    border:1px solid red ; 
    grid-template-columns: repeat(auto-fill , minmax(75px , 1fr));
  max-width: 300px;
    margin-top:25px 
  }
}
 .images > div { 
  width: 100%;
}
 .images > div img { 
  width: 100%;
  filter: grayscale(100%);
  transition: .3s;
}
 .images > div img:hover {
  cursor: pointer;
  filter: grayscale(00%);

}
 .images > div .nofilter{
  filter: grayscale(00%);
  
}
.SignUp .input {
  border: #0b090a solid 3px;
  width: 500px;
}
@media(max-width:768px){
  .SignUp .input {
  width: 300px;

  }
}
.SignUp .input input{
  display: block;
  width: 100%;
  padding:10px 5px;
  margin-bottom: 10px ; 
  outline : none ; 
}
.SignUp .input > div{
  display: flex;
  gap:10px 
}
.SignUp button{
  padding:5px 10px;
  background-color: #ba181b;
  color:white ;
  border:none ; 
  border-radius: 5px;
  margin-top: 20px; 
  cursor: pointer;
  transition: .3s;
  margin : 0 0 0 auto     ;
  display: flex;
  align-items: flex-start;
  width: 70px;
}
.SignUp button:hover { 
  background-color: var(--primary-red-3);
}
.SignUp h1 {
  margin-bottom: 100px;
}
@media (max-width:768px){
  .SignUp h1 {
    margin-bottom: 50px;
  }
  .SignUp button{
    align-items: flex-start;
    margin: 40px 0 0 0 ;
  }
}
/* Start SignUp */

/* End SignUp */















/* when you are Login in  */

  /* Login */






/* START HOME.jsx */
.Home{ 
  padding-top: 100px;
  
}
.Home .container { 
  width: 80%;
}
.Home input {
  padding:10px 5px ; 
  width: 80%;
}
@media(max-width:789px){
  .Home .container > button { 
    display: flex;
    margin-bottom: auto;
    margin-left: 63%;
  }
}

.post { 
  max-width: 500px;
  position: relative;
  margin: auto;
  margin-top: 100px;
  border-radius: 10px;
}
.post .info { 
  display: flex;
  align-items: center;
  color:white ; 
  background-color: var(--secondary-black);
  height: 100px;
  padding:10px ; 
  position: relative;
}
.post .image { 
  width: 90px;
  height: 90px ; 
  border-radius: 50%;
  position: absolute;
  top: -15px ; 
  left: -15px ; 
  border: 10px solid var(--primary-gray)
}
.post .info .text { 
  width: fit-content;
  margin:0 0 0 auto;
  position: absolute;
  right:60% ; 
  top : 20px ; 

}
@media(max-width:991px){
  .post .info .text { 
    width: fit-content;
    margin:0 0 0 auto;
    position: absolute;
    right:35% ; 
    top : 20px ; 
  
  }
}

.post .image img { 
  width: 100%;
  height: 100% ;
  border-radius: 50%;
}

.post .post-text {
  background-color: white;
  padding: 20px ;
  border-bottom: 1px solid #999 ;
}
.post .interaction {
  background-color: white;
  padding: 10px 30px ;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.post .interaction::before{
  content:'' ; 
  position: absolute;
  top:0 ; 
  left:50% ; 
  transform: translateX(-50%);
  height: 100%;
  width: .5px ;
  background-color: var(--primary-gray-2);
}
.post {
}
.post .comment-section {
display: flex;
padding:5px 10px; 
background-color: white ;
align-items: center;
}
.post .image-comment{
border-radius: 50%;
width: 50px;
height: 50px;
}
.post .image-comment img{
width: 100%;
height: 100%;
border-radius: 50%;
object-fit: center;
}
.post input { 
width: 80% ;
margin-left:5% ; 
border:none ; 
outline:none
}
.post .interaction button {
border:none ; 
outline : none ; 
background-color: transparent;
color: #161a1d;
font-weight: 500;
}
.post .interaction button:hover { 
background-color: var();
}
.singleComment { 
width: 100%;
display: flex;
background-color: white;
height: 60px;
align-items: center;
}
.singleComment img { 
width: 40px;
height: 40px;
border-radius: 50%;

}
.singleComment p {
font-size: 15px ; 
margin-left: 10px;
}
.singleComment h6 {
font-size: 10px;
}



/* Start Lading */
 .Account{
  border: solid 10px blue;
  margin-top: 100px;
}
.Account .container { 
  padding:50px 100px ;
  background-color: var(--secondary-black);
  color: white;
  width: 80%;
}
.Account .container { 
  display: flex;

}
@media(max-width:768px){
  .Account .container {
    width: 100%;

  }
}
.Account .form {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media(max-width:768px){
  .Account .form {
    flex-direction: column-reverse;
    border:2px solid green 
  }
}
.Account .images { 
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(100px , 1fr));
  max-width: 400px;
  grid-gap:10px ;
}
@media(max-width:768px){
  .Account .images { 
    border:1px solid red ; 
    grid-template-columns: repeat(auto-fill , minmax(75px , 1fr));
  max-width: 300px;
    margin-top:25px 
  }
}
.Account .container .info{
  padding: 10px ;
}
.Account .container > img {
  width: 200px;
  height: 200px ;
}
 .images > div { 
  width: 100%;
}
 .images > div img { 
  width: 100%;
  filter: grayscale(100%);
  transition: .3s;
}
 .images > div img:hover {
  cursor: pointer;
  filter: grayscale(00%);

}
 .images > div .nofilter{
  filter: grayscale(00%);
  
}
.Account .input {
  border: #0b090a solid 3px;
  width: 500px;
}
@media(max-width:768px){
  .Account .input {
  width: 300px;

  }
}
.Account .input input{
  display: block;
  width: 100%;
  padding:10px 5px;
  margin-bottom: 10px ; 
  outline : none ; 
}
.Account .input > div{
  display: flex;
  gap:10px 
}
.Account button{
  padding:5px 10px;
  background-color: #ba181b;
  color:white ;
  border:none ; 
  border-radius: 5px;
  margin-top: 20px; 
  cursor: pointer;
  transition: .3s;
  margin : 0 0 0 auto     ;
  display: flex;
  align-items: flex-start;
  width: 70px;
}
.Account button:hover { 
  background-color: var(--primary-red-3);
}
.Account h1 {
  margin-bottom: 100px;
}
@media (max-width:768px){
  .Account h1 {
    margin-bottom: 50px;
  }
  .Account button{
    align-items: flex-start;
    margin: 40px 0 0 0 ;
  }
}

/* End Lading */

